.a:link {
  color: black;
  text-decoration: none;
}
.a:visited {
  color: black;
  text-decoration: none;
}
.a:hover {
  color: black;
  text-decoration: none;
}

.top_menu {
  color: #353535;
  font-size: 15px;
  font-weight: 550;
}

.text_style {
  font-size: 15px;
}

.ui-tabs.ui-tabs-vertical {
  padding: 0;
  width: 42em;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
  border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
  float: left;
  width: 10em;
  background: #ccc;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid gray;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  margin: 0.2em 0;
  border: 1px solid gray;
  border-width: 1px 0 1px 1px;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
  position: relative;
  right: -2px;
  z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
  display: block;
  width: 100%;
  padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
  cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: 0.2em;
  padding-bottom: 0;
  border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
  margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
  float: left;
  width: 28em;
  border-left: 1px solid gray;
  border-radius: 0;
  position: relative;
  left: -1px;
}

.product_view {
  padding: 100px 100px;
}

table.type04 {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  margin: 20px 10px;
}

table.type04 th {
  width: 150px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

table.type04 td {
  width: 350px;
  padding: 10px;
  font-size: 18px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

.product_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5em;
}


body {
  margin: 0;
  font-family: "Source Sans Pro";
  
}
a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  margin-left: auto;
  padding: 8px 12px;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-right: 0px;
  margin-left: auto;
}

.navbar_menu li {
  padding: 8px 8px;
  font-size: 1.25em;
}

.navbar_menu li:hover {
  background-color: #efefef;
  border-radius: 4px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 32px;
  color: #707680;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 24px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #707680;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
    font-size:1.3em;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar_menu.active {
    display: flex;
  }
}

  .left-box {
    float: left;
  }
  .right-box {
    float: right;
  }
  .parent {
    width: 100px;
  }
  
  .container {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  
  .container img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
