{%extends 'sellers/top.html'%}
{% block content %}


<!--폼 안에다가 입력해줘야한다. (안써주면 에러발생), csrf_token 폼의 경우에는 , 데이터를 서버에 전달하는 기능.이때 암호화된 키를 숨겨놓아 크로스도메인을 막기 위함. -->
<!-- bootstrap -component - forms -->



<article class="container">
    <div style="text-align:center">
        <div class="top_menu">
            <p>공지사항</p>
        </div>
    </div>
    <br><br>
    <!--페이지에서 독립적-->


    <div class="text_style">
        <h3>제목 : {{ object.title }}</h3>

          {{ object.content }}

        <br><br>

        {% block aaa %}
        <div align="left">
            <button type="button" class="btn btn-dark" onclick="location.href='/sellers/notice' "><p style="font-size:1.5em">이전으로</p></button>
            <button type="button" class="btn btn-dark"><p style="font-size:1.5em">수정</p></button>
        </div>
        {% endblock %}


    <br><br>
    </div>
</article>

{% endblock %}



