{%extends 'users/top.html'%}
{% block content %}

  
  <html lang="ko">
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<body>
    <div style="text-align:center">
        <div class="top_menu">
            <p>회원가입</p>
        </div>
    </div>
    <br><br>

   <!-- section -->
   <div class="section-join">
    <!-- container -->
    <div class="container">
       <!-- row -->
       <div id="login_tab">
             <div class="col-md-12">
                <div class="billing-details">        
                   <br><br>
                   <div class="col-md-6">
                      <div class="section-title">
                         <h4 class="title">일반회원</h4>
                         <p> 만 14세 이상의 개인 구매자</p>
                      </div>
                      <input type="button" value="구매자 가입하기" onclick="location.href='users/signup' " class="main-btn pull-right"
                      style="width: 100%; height: 130px; font-size: 200%;" />
                   </div>

                </div>
             </div>
       </div>
       <!-- /row -->
    </div>
    <!-- /container -->
 </div>
 <!-- /section -->
  


  </body>
  
  </html>
  
{% endblock %}
  